.background-container {
	background: rgba(0, 0, 0, 0.2);
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
}

.delete {
	color: red;
	background-color: transparent;
	/*text-decoration: underline;*/
}

.accept {
	color: green;
	background-color: transparent;
	/*text-decoration: underline;*/
}
